@import url('https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here:400|Biryani:700,400|Fjalla+One:400');


/* ANIMA screen - winkelcasestudy */
.font-class-1 {
  font-family         : Biryani, Helvetica, Arial, serif;
  font-size           : 36.0px;
  font-style          : normal;
  font-weight         : 400;
  letter-spacing      : 4.14px;
  line-height         : 64.0px;
}
.font-class-2 {
  font-family         : Biryani, Helvetica, Arial, serif;
  font-size           : 60.0px;
  font-style          : normal;
  font-weight         : 700;
  letter-spacing      : 6.89px;
  line-height         : 106.0px;
}
:root {
  --auto-palette-color-1: rgba(255,255,255,1.0);
  --auto-palette-color-2: rgba(97,94,94,1.0);
  --auto-palette-color-3: rgba(70,69,69,1.0);
}
.winkelcasestudy .auto-flex-yKk9k8 {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  flex-shrink         : 0;
  height              : auto;
  justify-content     : flex-start;
  margin-left         : 27px;
  position            : relative;
  width               : 178px;
}
.winkelcasestudy .overlap-group-jSOr7s {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 744px;
  margin-left         : -1.0px;
  margin-top          : 80px;
  position            : relative;
  width               : 1443px;
}
.winkelcasestudy .auto-flex-sC0Bqd {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  flex-shrink         : 0;
  height              : auto;
  justify-content     : flex-start;
  position            : relative;
  width               : 3px;
}
.winkelcasestudy .overlap-group1-u4BaOU {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 2954px;
  margin-left         : -163.0px;
  margin-top          : 139px;
  position            : relative;
  width               : 1766px;
}
.winkelcasestudy .overlap-group2-fLzkbh {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 1917px;
  margin-top          : 64px;
  position            : relative;
  width               : 1443px;
}
.winkelcasestudy .overlap-group3-58t4dG {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 2181px;
  margin-left         : -220.0px;
  position            : relative;
  width               : 1938px;
}
.winkelcasestudy .overlap-group4-myWU0x {
  align-self          : center;
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 850px;
  margin-left         : 3.0px;
  margin-top          : 65px;
  position            : relative;
  width               : 1341px;
}
.winkelcasestudy .overlap-group5-04Mokd {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 1080px;
  margin-left         : -207.0px;
  margin-top          : 85px;
  position            : relative;
  width               : 1920px;
}
.winkelcasestudy .auto-flex1-75irrn {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  flex-shrink         : 0;
  height              : auto;
  justify-content     : flex-start;
  margin-left         : 1px;
  margin-top          : 1.0px;
  position            : relative;
  width               : 6px;
}
.winkelcasestudy .auto-flex1-umM5u0 {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  flex-shrink         : 0;
  height              : auto;
  justify-content     : flex-start;
  margin-left         : 27px;
  position            : relative;
  width               : 178px;
}
.winkelcasestudy .auto-flex2-iXQ4cW {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  flex-shrink         : 0;
  height              : auto;
  justify-content     : flex-start;
  margin-left         : 27px;
  position            : relative;
  width               : 178px;
}
.winkelcasestudy .auto-flex3-56GBYe {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  flex-shrink         : 0;
  height              : auto;
  justify-content     : flex-start;
  margin-left         : 27px;
  position            : relative;
  width               : 178px;
}
.winkelcasestudy .auto-flex4-0PGsSy {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  flex-shrink         : 0;
  height              : auto;
  justify-content     : flex-start;
  margin-left         : 27px;
  position            : relative;
  width               : 178px;
}
.winkelcasestudy .auto-flex5-D25i3x {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  flex-shrink         : 0;
  height              : auto;
  justify-content     : flex-start;
  position            : relative;
  width               : 178px;
}
.winkelcasestudy .splash-screen-NSBS95 {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 318px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 178px;
}
.winkelcasestudy .final-screens-ESRHpl {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-2);
  flex-shrink         : 0;
  height              : auto;
  margin-left         : 63.0px;
  margin-top          : 85px;
  min-height          : 106px;
  min-width           : 598px;
  position            : relative;
  text-align          : center;
  transform           : rotate(0deg);
  width               : auto;
}
.winkelcasestudy .mockup-home-ccjFUi {
  background-color    : rgba(255,255,255,0);
  height              : 1080px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 1920px;
}
.winkelcasestudy .arrows-copy-2-1WueTu {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 106px;
  justify-content     : flex-end;
  left                : 1461px;
  min-width           : 106px;
  opacity             : 0.5;
  padding             : 0 33.0px;
  position            : absolute;
  top                 : 487px;
  transform           : rotate(0deg);
  width               : auto;
}
.winkelcasestudy .path-OzQi9I {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 66px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 33px;
}
.winkelcasestudy .arrows-copy-3-7sfdXI {
  background-color    : rgba(255,255,255,0);
  height              : 106px;
  left                : 288px;
  opacity             : 0.5;
  position            : absolute;
  top                 : 487px;
  transform           : rotate(0deg);
  width               : 106px;
}
.winkelcasestudy .link-to-full-prototy-HAxT1P {
  align-self          : center;
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-2);
  flex-shrink         : 0;
  height              : auto;
  margin-left         : 73.14px;
  margin-top          : 85px;
  min-height          : 64px;
  min-width           : 585px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.winkelcasestudy .span1-HAxT1P {
  letter-spacing      : 0.00px;
}
.winkelcasestudy .span2-HAxT1P {
  color               : rgba(20,33,238,1.0);
  letter-spacing      : 0.00px;
  text-decoration     : underline;
}
.winkelcasestudy .group-aNbWY8 {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 21px;
  justify-content     : flex-start;
  left                : 870px;
  position            : absolute;
  top                 : 1020px;
  transform           : rotate(0deg);
  width               : auto;
}
.winkelcasestudy .oval-49NvvG {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 21px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 21px;
}
.winkelcasestudy .oval-copy-gnI8Iu {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 13px;
  margin-left         : 5px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 13px;
}
.winkelcasestudy .oval-copy-2-2uJVpz {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 13px;
  margin-left         : 5px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 12px;
}
.winkelcasestudy .oval-copy-3-kClQll {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 13px;
  margin-left         : 6px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 12px;
}
.winkelcasestudy .oval-copy-4-O0pL1S {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 13px;
  margin-left         : 5px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 13px;
}
.winkelcasestudy .oval-copy-5-p5bFzk {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 13px;
  margin-left         : 5px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 12px;
}
.winkelcasestudy .oval-copy-6-Uq6NkR {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 13px;
  margin-left         : 5px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 13px;
}
.winkelcasestudy .oval-copy-7-5lxgtt {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 13px;
  margin-left         : 5px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 13px;
}
.winkelcasestudy .oval-copy-8-T0MOCb {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 13px;
  margin-left         : 5px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 12px;
}
.winkelcasestudy .oval-copy-9-qsMr2m {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 13px;
  margin-left         : 6px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 12px;
}
.winkelcasestudy .portfolio-kGrX89 {
  background-color    : rgba(255,255,255,0);
  color               : rgba(229,226,226,1.0);
  font-family         : Biryani, Helvetica, Arial, serif;
  font-size           : 18.0px;
  font-style          : normal;
  font-weight         : 400;
  height              : auto;
  left                : 1012px;
  letter-spacing      : 2.07px;
  line-height         : 32.0px;
  position            : absolute;
  text-align          : center;
  top                 : 73px;
  transform           : rotate(0deg);
  width               : 121px;
}
.winkelcasestudy .about-8w3zvc {
  background-color    : rgba(255,255,255,0);
  color               : rgba(229,226,226,1.0);
  font-family         : Biryani, Helvetica, Arial, serif;
  font-size           : 18.0px;
  font-style          : normal;
  font-weight         : 400;
  height              : auto;
  left                : 1162px;
  letter-spacing      : 2.07px;
  line-height         : 32.0px;
  position            : absolute;
  text-align          : center;
  top                 : 73px;
  transform           : rotate(0deg);
  width               : 83px;
}
.winkelcasestudy .github-Zvnsqx {
  background-color    : rgba(255,255,255,0);
  height              : 19px;
  left                : 1275px;
  position            : absolute;
  top                 : 79px;
  transform           : rotate(0deg);
  width               : 19px;
}
.winkelcasestudy .linkedin-TTrhtA {
  align-items         : flex-end;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 19px;
  justify-content     : flex-end;
  left                : 1325px;
  min-width           : 19px;
  padding             : 3.0px;
  position            : absolute;
  top                 : 79px;
  transform           : rotate(0deg);
  width               : auto;
}
.winkelcasestudy .shape-4TdBni {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 8px;
  margin-top          : 1px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 3px;
}
.winkelcasestudy .shape-j1ABPL {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 8px;
  margin-left         : 1px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 8px;
}
.winkelcasestudy .shape-4MBPk0 {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 3px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 3px;
}
.winkelcasestudy .behance-network-GUVH65 {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 19px;
  justify-content     : flex-start;
  left                : 1375px;
  padding             : 0 3.0px;
  position            : absolute;
  top                 : 79px;
  transform           : rotate(0deg);
  width               : auto;
}
.winkelcasestudy .shape-mAcloa {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 8px;
  margin-bottom       : 1.0px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 6px;
}
.winkelcasestudy .shape-SmayfO {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 6px;
  margin-top          : 1px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 6px;
}
.winkelcasestudy .path-ZDjw1f {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 1px;
  margin-left         : 1.0px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 4px;
}
.winkelcasestudy .basketball-c6JHhS {
  background-color    : rgba(255,255,255,0);
  height              : 19px;
  left                : 1425px;
  position            : absolute;
  top                 : 79px;
  transform           : rotate(0deg);
  width               : 19px;
}
.winkelcasestudy .facebook-CPTJA1 {
  background-color    : rgba(255,255,255,0);
  height              : 19px;
  left                : 1475px;
  position            : absolute;
  top                 : 79px;
  transform           : rotate(0deg);
  width               : 19px;
}
.winkelcasestudy .communications-o5FPhu {
  background-color    : rgba(255,255,255,0);
  height              : 17px;
  left                : 1525px;
  position            : absolute;
  top                 : 80px;
  transform           : rotate(0deg);
  width               : 23px;
}
.winkelcasestudy .in-this-modern-age-CxSlzV {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  height              : auto;
  left                : 65px;
  position            : absolute;
  text-align          : left;
  top                 : 332px;
  transform           : rotate(0deg);
  width               : 1266px;
}
.winkelcasestudy .iterating-from-my-pr-tpwrgL {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  height              : auto;
  left                : 225px;
  position            : absolute;
  text-align          : left;
  top                 : 1616px;
  transform           : rotate(0deg);
  width               : 1266px;
}
.winkelcasestudy .mock-profile-j0QXzw {
  background-color    : rgba(255,255,255,0);
  height              : 511px;
  left                : 858px;
  position            : absolute;
  top                 : 205px;
  transform           : rotate(0deg);
  width               : 908px;
}
.winkelcasestudy .fill-13-iUfPt2 {
  background-color    : rgba(255,255,255,0);
  height              : 20px;
  left                : 158px;
  position            : absolute;
  top                 : 227px;
  transform           : rotate(0deg);
  width               : 63px;
}
.winkelcasestudy .stroke-15-A18xxz {
  background-color    : rgba(255,255,255,0);
  height              : 20px;
  left                : 158px;
  position            : absolute;
  top                 : 226px;
  transform           : rotate(0deg);
  width               : 64px;
}
.winkelcasestudy .wireframes-km57kU {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-2);
  flex-shrink         : 0;
  height              : auto;
  margin-left         : 63.0px;
  margin-top          : 147px;
  min-height          : 106px;
  min-width           : 519px;
  position            : relative;
  text-align          : center;
  transform           : rotate(0deg);
  width               : auto;
}
.winkelcasestudy .i-came-up-with-two-d-OQ7AKA {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  height              : auto;
  left                : 66px;
  position            : absolute;
  text-align          : left;
  top                 : 232px;
  transform           : rotate(0deg);
  width               : 1266px;
}
.winkelcasestudy .this-process-let-me-QXgKSt {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-2);
  height              : auto;
  left                : 13px;
  position            : absolute;
  text-align          : left;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 1266px;
}
.winkelcasestudy .rectangle-Aw9gwN {
  background-color    : rgba(215,215,215,1.0);
  border-color        : rgba(150,150,150,1.0);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 718px;
  left                : 0px;
  position            : absolute;
  top                 : 132px;
  transform           : rotate(0deg);
  width               : 1341px;
}
.winkelcasestudy .group-qywBQF {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 658px;
  justify-content     : flex-start;
  left                : 66px;
  position            : absolute;
  top                 : 169px;
  transform           : rotate(0deg);
  width               : auto;
}
.winkelcasestudy .chicken-TExqlA {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 318px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 178px;
}
.winkelcasestudy .delivery-options-yrjiBr {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 318px;
  margin-top          : 22px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 178px;
}
.winkelcasestudy .home-screen-QxHUHS {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 318px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 178px;
}
.winkelcasestudy .meats-Bs8wjL {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 318px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 178px;
}
.winkelcasestudy .my-cart-uyZbX2 {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 318px;
  margin-top          : 22px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 178px;
}
.winkelcasestudy .my-orders-DKNZY4 {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 318px;
  margin-top          : 22px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 178px;
}
.winkelcasestudy .order-confirmation-v0thGg {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 318px;
  margin-top          : 22px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 178px;
}
.winkelcasestudy .product-details-3pbyi0 {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 318px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 178px;
}
.winkelcasestudy .profile-menu-4QtSnu {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 318px;
  margin-top          : 22px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 178px;
}
.winkelcasestudy .shipping-address-2p1Gex {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 318px;
  margin-top          : 22px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 178px;
}
.winkelcasestudy .sign-up-Jv4Ypr {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 318px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 178px;
}
.winkelcasestudy {
  align-items         : flex-start;
  background-color    : var(--auto-palette-color-1);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  height              : auto;
  justify-content     : flex-start;
  min-height          : 12721px;
  overflow            : hidden;
  position            : relative;
  width               : 1440.0px;
}
.winkelcasestudy .rectangle-copy-VTzHzQ {
  background-color    : var(--auto-palette-color-3);
  height              : 744px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 1443px;
}
.winkelcasestudy .rectangle-copy-2-Fd7xyY {
  background-color    : var(--auto-palette-color-3);
  border-color        : rgba(150,150,150,1.0);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 1671px;
  left                : 159px;
  position            : absolute;
  top                 : 1283px;
  transform           : rotate(0deg);
  width               : 1445px;
}
.winkelcasestudy .the-challenge-QBlXkT {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-2);
  flex-shrink         : 0;
  height              : auto;
  margin-left         : 63.0px;
  margin-top          : 80px;
  min-height          : 106px;
  min-width           : 625px;
  position            : relative;
  text-align          : center;
  transform           : rotate(0deg);
  width               : auto;
}
.winkelcasestudy .rectangle-copy-3-gDPhIw {
  background-color    : rgba(42,40,40,1.0);
  height              : 1917px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 1443px;
}
.winkelcasestudy .the-problem-statemen-bAicHA {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  height              : auto;
  left                : 64px;
  position            : absolute;
  text-align          : center;
  top                 : 87px;
  transform           : rotate(0deg);
  width               : auto;
}
.winkelcasestudy .application-map-UEakoc {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  height              : auto;
  left                : 226px;
  position            : absolute;
  text-align          : center;
  top                 : 1371px;
  transform           : rotate(0deg);
  width               : auto;
}
.winkelcasestudy .paper-prototypes-yOVFpU {
  background-color    : rgba(255,255,255,0);
  color               : rgba(97,95,95,1.0);
  flex-shrink         : 0;
  height              : auto;
  margin-left         : 63.0px;
  margin-top          : 100px;
  min-height          : 106px;
  min-width           : 778px;
  position            : relative;
  text-align          : center;
  transform           : rotate(0deg);
  width               : auto;
}
.winkelcasestudy .for-this-project-my-stDH5U {
  align-self          : center;
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-2);
  flex-shrink         : 0;
  height              : auto;
  margin-right        : 46.0px;
  margin-top          : 65px;
  min-height          : 279px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : 1266px;
}
.winkelcasestudy .in-order-to-brainsto-XlnaGu {
  background-color    : rgba(255,255,255,0);
  color               : rgba(97,95,95,1.0);
  height              : auto;
  left                : 252px;
  position            : absolute;
  text-align          : left;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 1266px;
}
.winkelcasestudy .group-3-Dst8H3 {
  background-color    : rgba(255,255,255,0);
  height              : 1163px;
  left                : 0px;
  position            : absolute;
  top                 : 121px;
  transform           : rotate(0deg);
  width               : 1766px;
}
.winkelcasestudy .mock-meats-xuJGPO {
  background-color    : rgba(255,255,255,0);
  height              : 512px;
  left                : 445px;
  position            : absolute;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 908px;
}
.winkelcasestudy .mock-login-Yw4AAs {
  background-color    : rgba(255,255,255,0);
  height              : 512px;
  left                : 151px;
  position            : absolute;
  top                 : 290px;
  transform           : rotate(0deg);
  width               : 908px;
}
.winkelcasestudy .mock-chicken-PV2l3n {
  background-color    : rgba(255,255,255,0);
  height              : 510px;
  left                : 404px;
  position            : absolute;
  top                 : 653px;
  transform           : rotate(0deg);
  width               : 908px;
}
.winkelcasestudy .mock-splash-pQC8x3 {
  background-color    : rgba(255,255,255,0);
  height              : 511px;
  left                : 0px;
  position            : absolute;
  top                 : 441px;
  transform           : rotate(0deg);
  width               : 908px;
}
.winkelcasestudy .rectangle-53xfC1 {
  background-color    : var(--auto-palette-color-3);
  height              : 2181px;
  left                : 217px;
  position            : absolute;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 1443px;
}
.winkelcasestudy .copyright-251-2020-shi-Xm8UXQ {
  align-self          : center;
  background-color    : rgba(255,255,255,0);
  color               : rgba(97,97,97,1.0);
  flex-shrink         : 0;
  font-family         : Biryani, Helvetica, Arial, serif;
  font-size           : 36.0px;
  font-style          : normal;
  font-weight         : 700;
  height              : auto;
  letter-spacing      : 4.14px;
  line-height         : 64.0px;
  margin-left         : 71.14px;
  margin-top          : 224px;
  min-height          : 64px;
  min-width           : 699px;
  position            : relative;
  text-align          : left;
  transform           : rotate(0deg);
  width               : auto;
}
.winkelcasestudy .by-2025-mobile-shop-OcxYyz {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  font-family         : Biryani, Helvetica, Arial, serif;
  font-size           : 36.0px;
  font-style          : normal;
  font-weight         : 700;
  height              : auto;
  left                : 359px;
  letter-spacing      : 4.14px;
  line-height         : 64.0px;
  position            : absolute;
  text-align          : center;
  top                 : 1843px;
  transform           : rotate(0deg);
  width               : 1159px;
}
.winkelcasestudy .group-2-NkZa17 {
  background-color    : rgba(255,255,255,0);
  height              : 423px;
  left                : 838px;
  position            : absolute;
  top                 : 238px;
  transform           : rotate(0deg);
  width               : 452px;
}
.winkelcasestudy .logo-0l3MxP {
  background-color    : rgba(255,255,255,0);
  height              : 262px;
  left                : 250px;
  position            : absolute;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 211px;
}
.winkelcasestudy .rectangle-Y28vXk {
  background-color    : var(--auto-palette-color-1);
  height              : 137px;
  left                : 19px;
  position            : absolute;
  top                 : 64px;
  transform           : rotate(0deg);
  width               : 173px;
}
.winkelcasestudy .sh-uvWKHH {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-3);
  font-family         : Fjalla One, Helvetica, Arial, serif;
  font-size           : 208.1px;
  font-style          : normal;
  font-weight         : 400;
  height              : auto;
  left                : 0px;
  letter-spacing      : 0.00px;
  line-height         : 262.0px;
  position            : absolute;
  text-align          : left;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 211px;
}
.winkelcasestudy .fill-1-59HVJ4 {
  background-color    : rgba(255,255,255,0);
  height              : 99px;
  left                : 229px;
  position            : absolute;
  top                 : 23px;
  transform           : rotate(0deg);
  width               : 221px;
}
.winkelcasestudy .stroke-3-BnAxzx {
  background-color    : rgba(255,255,255,0);
  height              : 101px;
  left                : 228px;
  position            : absolute;
  top                 : 22px;
  transform           : rotate(0deg);
  width               : 224px;
}
.winkelcasestudy .fill-5-iPeUxq {
  background-color    : rgba(255,255,255,0);
  height              : 147px;
  left                : 222px;
  position            : absolute;
  top                 : 1px;
  transform           : rotate(0deg);
  width               : 186px;
}
.winkelcasestudy .stroke-7-bhwVrg {
  background-color    : rgba(255,255,255,0);
  height              : 149px;
  left                : 221px;
  position            : absolute;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 189px;
}
.winkelcasestudy .fill-9-JIpQfJ {
  background-color    : rgba(255,255,255,0);
  height              : 305px;
  left                : 0px;
  position            : absolute;
  top                 : 118px;
  transform           : rotate(0deg);
  width               : 266px;
}
.winkelcasestudy .fill-11-928OHE {
  background-color    : rgba(255,255,255,0);
  height              : 77px;
  left                : 38px;
  position            : absolute;
  top                 : 347px;
  transform           : rotate(0deg);
  width               : 51px;
}
.winkelcasestudy .mock-cart-oS8gZI {
  background-color    : rgba(255,255,255,0);
  height              : 511px;
  left                : 705px;
  position            : absolute;
  top                 : 352px;
  transform           : rotate(0deg);
  width               : 907px;
}
.winkelcasestudy .mock-categories-RDOWxL {
  background-color    : rgba(255,255,255,0);
  height              : 510px;
  left                : 299px;
  position            : absolute;
  top                 : 143px;
  transform           : rotate(0deg);
  width               : 907px;
}
.winkelcasestudy .fill-17-wEj0Ab {
  background-color    : rgba(255,255,255,0);
  height              : 65px;
  left                : 77px;
  position            : absolute;
  top                 : 163px;
  transform           : rotate(0deg);
  width               : 47px;
}
.winkelcasestudy .mock-product-UMWfFd {
  background-color    : rgba(255,255,255,0);
  height              : 510px;
  left                : 554px;
  position            : absolute;
  top                 : 500px;
  transform           : rotate(0deg);
  width               : 908px;
}
.winkelcasestudy .fill-21-efstU8 {
  background-color    : rgba(255,255,255,0);
  height              : 30px;
  left                : 87px;
  position            : absolute;
  top                 : 183px;
  transform           : rotate(0deg);
  width               : 24px;
}
.winkelcasestudy .stroke-19-9C24hg {
  background-color    : rgba(255,255,255,0);
  height              : 67px;
  left                : 76px;
  position            : absolute;
  top                 : 162px;
  transform           : rotate(0deg);
  width               : 49px;
}
.winkelcasestudy .fill-25-AFePBF {
  background-color    : rgba(255,255,255,0);
  height              : 12px;
  left                : 89px;
  position            : absolute;
  top                 : 185px;
  transform           : rotate(0deg);
  width               : 13px;
}
.winkelcasestudy .stroke-23-exkwj4 {
  background-color    : rgba(255,255,255,0);
  height              : 32px;
  left                : 86px;
  position            : absolute;
  top                 : 182px;
  transform           : rotate(0deg);
  width               : 26px;
}
.winkelcasestudy .fill-29-XRMzB5 {
  background-color    : rgba(255,255,255,0);
  height              : 108px;
  left                : 171px;
  position            : absolute;
  top                 : 275px;
  transform           : rotate(0deg);
  width               : 79px;
}
.winkelcasestudy .fill-27-xexpVx {
  background-color    : rgba(255,255,255,0);
  height              : 79px;
  left                : 174px;
  position            : absolute;
  top                 : 116px;
  transform           : rotate(0deg);
  width               : 58px;
}
.winkelcasestudy .fill-31-BAksqk {
  background-color    : rgba(255,255,255,0);
  height              : 12px;
  left                : 241px;
  position            : absolute;
  top                 : 254px;
  transform           : rotate(0deg);
  width               : 12px;
}
.winkelcasestudy .stroke-37-ldgrkV {
  background-color    : rgba(255,255,255,0);
  height              : 27px;
  left                : 190px;
  position            : absolute;
  top                 : 185px;
  transform           : rotate(0deg);
  width               : 46px;
}
.winkelcasestudy .fill-35-LaVaOt {
  background-color    : rgba(255,255,255,0);
  height              : 27px;
  left                : 190px;
  position            : absolute;
  top                 : 186px;
  transform           : rotate(0deg);
  width               : 45px;
}
.winkelcasestudy .fill-33-jwfFw0 {
  background-color    : rgba(255,255,255,0);
  height              : 43px;
  left                : 92px;
  position            : absolute;
  top                 : 127px;
  transform           : rotate(0deg);
  width               : 51px;
}
.winkelcasestudy .stroke-41-H52Qaf {
  background-color    : rgba(255,255,255,0);
  height              : 121px;
  left                : 25px;
  position            : absolute;
  top                 : 277px;
  transform           : rotate(0deg);
  width               : 148px;
}
.winkelcasestudy .fill-39-zslSic {
  background-color    : rgba(255,255,255,0);
  height              : 119px;
  left                : 26px;
  position            : absolute;
  top                 : 278px;
  transform           : rotate(0deg);
  width               : 146px;
}
.winkelcasestudy .winkel-9JsyyZ {
  background-color    : rgba(255,255,255,0);
  color               : rgba(255,0,30,1.0);
  font-family         : Just Me Again Down Here, Helvetica, Arial, serif;
  font-size           : 100.0px;
  font-style          : normal;
  font-weight         : 400;
  height              : auto;
  left                : 818px;
  letter-spacing      : -2.41px;
  line-height         : 150.0px;
  position            : absolute;
  text-align          : center;
  top                 : 675px;
  transform           : rotate(0deg);
  width               : 244px;
}
.winkelcasestudy .fill-43-zVtaub {
  background-color    : rgba(255,255,255,0);
  height              : 30px;
  left                : 42px;
  position            : absolute;
  top                 : 365px;
  transform           : rotate(0deg);
  width               : 72px;
}
.winkelcasestudy .style-tile-2-Ten4o7 {
  background-color    : rgba(255,255,255,0);
  height              : 482px;
  left                : 706px;
  position            : absolute;
  top                 : 1280px;
  transform           : rotate(0deg);
  width               : 682px;
}
.winkelcasestudy .thank-you-RmVVVF {
  background-color    : rgba(255,255,255,0);
  height              : 636px;
  left                : 0px;
  position            : absolute;
  top                 : 1045px;
  transform           : rotate(0deg);
  width               : 1130px;
}
.winkelcasestudy .screen-shot-2020-05-04-at-2-05-07-am-L53zuY {
  background-color    : rgba(255,255,255,0);
  height              : 861px;
  left                : 282px;
  position            : absolute;
  top                 : 2018px;
  transform           : rotate(0deg);
  width               : 1203px;
}
.winkelcasestudy .design-directions-copy-C5oya3 {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  height              : auto;
  left                : 65px;
  position            : absolute;
  text-align          : center;
  top                 : 61px;
  transform           : rotate(0deg);
  width               : auto;
}
.winkelcasestudy .home-pSSosI {
  background-color    : rgba(255,255,255,0);
  height              : 837px;
  left                : 450px;
  position            : absolute;
  top                 : 949px;
  transform           : rotate(0deg);
  width               : 1488px;
}
.winkelcasestudy .a-meal-prep-and-groc-crzpxR {
  background-color    : rgba(255,255,255,0);
  color               : rgba(207,198,199,1.0);
  font-family         : Biryani, Helvetica, Arial, serif;
  font-size           : 60.0px;
  font-style          : normal;
  font-weight         : 700;
  height              : auto;
  left                : 358px;
  letter-spacing      : -1.45px;
  line-height         : 106.0px;
  position            : absolute;
  text-align          : center;
  top                 : 882px;
  transform           : rotate(0deg);
  width               : 1191px;
}
.winkelcasestudy .screen-shot-2020-05-04-at-1-17-28-am-Sw4XJQ {
  align-self          : center;
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 808px;
  margin-right        : 47.0px;
  margin-top          : 65px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 1175px;
}
.winkelcasestudy .style-tile-1-inxiGu {
  background-color    : rgba(255,255,255,0);
  height              : 578px;
  left                : 582px;
  position            : absolute;
  top                 : 480px;
  transform           : rotate(0deg);
  width               : 817px;
}
.winkelcasestudy .delicate-vibrant-and-friendly-2x-2EuuE7 {
  background-color    : rgba(255,255,255,0);
  height              : 578px;
  left                : 43px;
  position            : absolute;
  top                 : 480px;
  transform           : rotate(0deg);
  width               : 515px;
}
.winkelcasestudy .rustic-modern-2x-FRiMle {
  background-color    : rgba(255,255,255,0);
  height              : 482px;
  left                : 57px;
  position            : absolute;
  top                 : 1280px;
  transform           : rotate(0deg);
  width               : 626px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  animation-delay     : 0s;
}
@keyframes anima-reveal {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
* {
  box-sizing          : border-box;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-component-wrapper a,
.anima-screen a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
.anima-screen textarea:focus,
.anima-screen input:focus {
  outline             : none;
}
.anima-screen div {
  -webkit-text-size-adjust: none;
}
.anima-container-center-vertical,
.anima-container-center-horizontal {
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
}
.anima-container-center-vertical {
  align-items         : center;
  height              : 100%;
}
.anima-container-center-horizontal {
  justify-content     : center;
  width               : 100%;
}
.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
  pointer-events      : auto;
  flex-shrink         : 0;
}
.anima-component-wrapper ,
.anima-screen {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}